---
- name: Install wordpress
  shell: >
    wp core install --path=/var/www/html
    --url="http://{{ hostvars.cloud.balancer.openstack.public_v4 }}"
    --title='OpenStack Interop Challenge'
    --admin_user=wpuser
    --admin_password="{{ db_pass }}"
    --admin_email='interop@openstack.org'

- name: Activate wordpress theme
  shell: >
    wp --path=/var/www/html theme activate
    "{{ app_env.wp_theme.split('/').pop().split('.')[0] }}"

- name: Install wordpress importor plugin
  shell: >
    sudo -u www-data wp --path=/var/www/html
    plugin install wordpress-importer --activate

- name: Download wordpress sample posts
  get_url:
    url: "{{ app_env.wp_posts }}"
    dest: /tmp/wpposts.zip
    force: yes

- name: Unpack the post
  shell: unzip -o -q /tmp/wpposts.zip -d /tmp/posts
  args:
    warn: no

- name: Import wordpress posts
  shell: >
    sudo -u www-data wp --path=/var/www/html
    import /tmp/posts/*.xml --authors=create --quiet
