[Unit]
Description=kubelet service
Requires=flanneld.service
After=flanneld.service

[Service]
ExecStart=/usr/bin/kubelet \
  --api_servers=https://CONTROLLER_HOST \
  --register-node=true \
  --allow-privileged=true \
  --config=/etc/kubernetes/manifests \
  --hostname-override=MY_IP \
  --cluster-dns=CLUSTER_DNS \
  --cluster-domain=cluster.local \
  --kubeconfig=/etc/kubernetes/compute-kubeconfig.yaml \
  --tls-cert-file=/etc/kubernetes/ssl/compute.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/compute-key.pem
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
